
@font-face {
    font-family: "Montserrat";
    src: url("Montserrat.woff") format("woff"),
    url("Montserrat.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("Montserrat-Black.woff") format("woff"),
    url("Montserrat-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

